/* Ensures button aligns at the top */
.wp-core-ui p .button.clear-search-button {
	vertical-align: top;
}

/* Wrapper for search field to position clear button */
.search-field-wrapper {
	position: relative;
	display: inline-block;
}

/* Button hidden by default; shown via JS when the search field has content */
.clear-search-button {
	display: none;
}

/* Button position inside search field */
.button.clear-search-button {
	position: absolute;
	margin: 0px -34px;
	padding: 0px 12px;
}

/* Button position in /wp-admin/upload.php and /wp-admin/plugins.php */
.media-toolbar-primary.search-form .button.clear-search-button,
.search-form.search-plugins .search-box .button.clear-search-button {
	margin: 0px -33px;
}

/* Button position in /wp-admin/plugin-install.php */
.search-form.search-plugins .search-field-wrapper .button.clear-search-button {
	margin: 0px -34px;
}

/* Button position in /wp-admin/themes.php (when more than one theme is installed) */
.wp-filter .search-field-wrapper .button.clear-search-button {
	position: absolute;
	margin: 0px -34px;
	z-index: 10;
}

/* Prevent text from being hidden behind the clear button */
.search-field-wrapper input[type="search"],
.search-field-wrapper input[type="text"] {
	padding-right: 20px; /* space for the clear button */
}
